SECRET_KEY='insert_key_here'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
#DATABASE_URL=
EMAIL_HOST=smtp.example.com
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_HOST_USER=crm@example.com
EMAIL_PORT=587
SERVER_EMAIL=
DEFAULT_FROM_EMAIL=
ADMIN_EMAIL=admin1_box@example.com
ADMIN_NAME=Admin1
LANGUAGE_CODE=pt-br
CRM_IP=127.0.0.1
CRM_REPLY_TO="'Do not reply' <crm@example.com>"
CLIENT_ID=
CLIENT_SECRET=
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET_KEY=
REDIRECT_URI=
LOAD_RATE_BACKEND=

SECRET_CRM_PREFIX='123/'
SECRET_ADMIN_PREFIX='456-admin/'
SECRET_LOGIN_PREFIX= '789-login/'

SITE_TITLE = 'CRM'
ADMIN_HEADER = "ADMIN"
ADMIN_TITLE = "CRM Admin"
