include LICENSE
include README.md
include CHANGELOG.md

include manage.py
include requirements.txt

recursive-include locale *.mo
recursive-include **/fixtures *
recursive-include **/templates *
recursive-include **/static *

include crm/forms/iso_currency_codes.json
include crm/models/to_translate.txt
include massmail/models/to_translate.txt
include tasks/models/to_translate.txt

include docs/installation_and_configuration_guide.md
include docs/django-crm_user_guide.md

include media/docs/empty_file.txt
include media/exported/empty_file.txt
include media/geodb/empty_file.txt
include media/pics/empty_file.txt

exclude webcrm/local*.py
prune docs
prune media
prune **/__pycache__

global-exclude *.py[cod]
global-exclude .gitignore
