aiohttp
aiosignal
asgiref
attrs
certifi
charset-normalizer
Django
et-xmlfile
frozenlist
geoip2
idna
maxminddb
multidict
mysqlclient
numpy
openpyxl
pandas
polib
python-dateutil
pytz
requests
six
sqlparse
tendo
tzdata
urllib3
XlsxWriter
yarl
