    aiohttp==3.14.1
    aiosignal==1.4.0
    asgiref==3.11.1
    attrs==26.1.0
    certifi==2026.6.17
    charset-normalizer==3.4.7
    Django==6.0.6
    django-environ==0.11.2
    et-xmlfile==2.0.0
    frozenlist==1.8.0
    geoip2==5.2.0
    idna==3.18
    maxminddb==3.1.1
    multidict==6.7.1
    mysqlclient==2.2.8
    numpy==2.5.0
    openpyxl==3.1.5
    pandas==3.0.4
    pillow==12.3.0
    polib==1.2.0
    python-dateutil==2.9.0.post0
    pytz==2026.2
    requests==2.34.2
    six==1.17.0
    sqlparse==0.5.5
    tendo==0.3.0
    tzdata==2026.2
    urllib3==2.7.0
    XlsxWriter==3.2.9
    yarl==1.24.2