<div class="space-y-6">
      <!-- Product Description Section -->
      <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="border-b border-gray-200 px-6 py-4 dark:border-gray-800">
          <h2 class="text-lg font-medium text-gray-800 dark:text-white">
            Products Description
          </h2>
        </div>
        <div class="p-4 sm:p-6 dark:border-gray-800">
          <form>
            <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
              <div>
                <app-label for="product-name">Product Name</app-label>
                <app-input-field
                  id="product-name"
                  placeholder="Enter product name"
                ></app-input-field>
              </div>
              <div>
                <app-label for="category">Category</app-label>
                <app-select
                  id="category"
                  [options]="categories"
                  placeholder="Select a category"
                  (valueChange)="handleSelectChange($event)"
                ></app-select>
              </div>
              <div>
                <app-label for="brand">Brand</app-label>
                <app-select
                  id="brand"
                  [options]="brands"
                  placeholder="Select brand"
                  (valueChange)="handleSelectChange($event)"
                ></app-select>
              </div>
              <div>
                <app-label for="color">Color</app-label>
                <app-select
                  id="color"
                  [options]="colors"
                  placeholder="Select color"
                  (valueChange)="handleSelectChange($event)"
                ></app-select>
              </div>
              <div class="col-span-full">
                <div class="grid grid-cols-1 gap-5 sm:grid-cols-3">
                  <div>
                    <app-label for="weight">Weight(KG)</app-label>
                    <app-input-field
                      id="weight"
                      type="number"
                      placeholder="15"
                    ></app-input-field>
                  </div>
                  <div>
                    <app-label for="length">Length(CM)</app-label>
                    <app-input-field
                      id="length"
                      type="number"
                      placeholder="120"
                    ></app-input-field>
                  </div>
                  <div>
                    <app-label for="width">Width(CM)</app-label>
                    <app-input-field
                      id="width"
                      type="number"
                      placeholder="23"
                    ></app-input-field>
                  </div>
                  <div class="col-span-full">
                    <app-label for="description">Description</app-label>
                    <app-text-area
                      id="description"
                      [rows]="6"
                      placeholder="Receipt Info (optional)"
                    ></app-text-area>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Pricing & Availability Section -->
      <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="border-b border-gray-200 px-6 py-4 dark:border-gray-800">
          <h2 class="text-lg font-medium text-gray-800 dark:text-white">
            Pricing & Availability
          </h2>
        </div>
        <div class="space-y-5 p-4 sm:p-6">
          <div class="grid grid-cols-1 gap-5 sm:grid-cols-3">
            <div>
              <app-label for="price">Price</app-label>
              <app-input-field
                id="price"
                type="number"
                placeholder="15"
              ></app-input-field>
            </div>
            <div>
              <app-label for="length2">Length(CM)</app-label>
              <app-input-field
                id="length2"
                type="number"
                placeholder="120"
              ></app-input-field>
            </div>
            <div>
              <app-label for="width2">Width(CM)</app-label>
              <app-input-field
                id="width2"
                type="number"
                placeholder="23"
              ></app-input-field>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
            <div>
              <label
                class="mb-1 inline-block text-sm font-semibold text-gray-700 dark:text-gray-400"
              >
                Stock Quantity
              </label>
              <div
                class="flex h-11 divide-x divide-gray-300 overflow-hidden rounded-lg border border-gray-300 dark:divide-gray-800 dark:border-gray-700"
              >
                <button
                  class="inline-flex h-11 w-11 items-center justify-center bg-white text-gray-700 hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white"
                  (click)="decrementQuantity()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="24"
                    viewBox="0 0 25 24"
                    fill="none"
                  >
                    <path
                      d="M6.66699 12H18.6677"
                      stroke="currentColor"
                      strokeWidth="1.5"
                      strokeLinecap="round"
                      strokeLinejoin="round"
                    />
                  </svg>
                </button>
                <div class="flex-1">
                  <app-input-field
                    type="text"
                    [value]="stockQuantity"
                    className="h-full w-full border-0 bg-white text-center text-sm text-gray-700 outline-none focus:ring-0 dark:bg-gray-900 dark:text-gray-400"
                    (valueChange)="updateQuantity($event)"
                  ></app-input-field>
                </div>
                <button
                  class="inline-flex h-11 w-11 items-center justify-center bg-white text-gray-700 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white"
                  (click)="incrementQuantity()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="24"
                    viewBox="0 0 25 24"
                    fill="none"
                  >
                    <path
                      d="M6.66699 12.0002H18.6677M12.6672 6V18.0007"
                      stroke="currentColor"
                      strokeWidth="1.5"
                      strokeLinecap="round"
                      strokeLinejoin="round"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <div>
              <app-label for="availability">Availability Status</app-label>
              <app-select
                id="availability"
                [options]="availability"
                placeholder="Select a Availability"
                (valueChange)="handleSelectChange($event)"
              ></app-select>
            </div>
          </div>
        </div>
      </div>

      <!-- Product Images Section -->
      <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="border-b border-gray-200 px-6 py-4 dark:border-gray-800">
          <h2 class="text-lg font-medium text-gray-800 dark:text-white">
            Products Images
          </h2>
        </div>
        <div class="p-4 sm:p-6">
          <label
            for="product-image"
            class="shadow-theme-xs group hover:border-brand-500 block cursor-pointer rounded-lg border-2 border-dashed border-gray-300 transition dark:hover:border-brand-400 dark:border-gray-800"
          >
            <div class="flex justify-center p-10">
              <div class="flex max-w-[260px] flex-col items-center gap-4">
                <div
                  class="inline-flex h-13 w-13 items-center justify-center rounded-full border border-gray-200 text-gray-700 transition dark:border-gray-800 dark:text-gray-400"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M20.0004 16V18.5C20.0004 19.3284 19.3288 20 18.5004 20H5.49951C4.67108 20 3.99951 19.3284 3.99951 18.5V16M12.0015 4L12.0015 16M7.37454 8.6246L11.9994 4.00269L16.6245 8.6246"
                      stroke="currentColor"
                      strokeWidth="1.5"
                      strokeLinecap="round"
                      strokeLinejoin="round"
                    />
                  </svg>
                </div>
                <p class="text-center text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-medium text-gray-800 dark:text-white/90">
                    Click to upload
                  </span>
                  or drag and drop SVG, PNG, JPG or GIF (MAX. 800x400px)
                </p>
              </div>
            </div>
            <input type="file" id="product-image" class="hidden" />
          </label>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="flex flex-col gap-3 sm:flex-row sm:justify-end">
        <app-button variant="outline" (btnClick)="onDraft()">Draft</app-button>
        <app-button variant="primary" (btnClick)="onPublish()">Publish Product</app-button>
      </div>
    </div>