{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if toggle_sorting_url %}
  <li>
    <a href="{{toggle_sorting_url}}" title="{% translate 'Toggle default deal sorting' %}">
      <i class="material-icons" style="font-size:17px;vertical-align:middle;">low_priority</i>
    </a>
  </li>
  {% endif %}
  {% if has_add_request_permission %}
  <li>
    <a href="{{ request_add_url }}" title="{% translate 'A deal is created based on a request' %}" class="addlink">
      {% translate 'Add' %} {% translate 'Request' %} ({% translate 'Deal' %})
    </a>
  </li> 
  {% endif %}
{% endblock %}
