{% extends "admin/base_site.html" %} {% load i18n admin_urls static admin_modify
util %} {% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a> &rsaquo; Delete Duplicate</div>
{% endblock %} {% block content %}
<h1>Select the original to which the linked objects will be reconnected.</h1>
<div id="content-main">
  <br />
  <form
    action="{{ request.path }}?{{ request.GET.urlencode }}"
    method="post"
    id="login-form"
  >
    {% csrf_token %} {{ form }}

    <br /><br />
    <input type="submit" value=" Submit " />
  </form>
</div>
{% endblock %}
