<div class="mb-10">
  <div
    class="flex flex-wrap justify-center gap-2 mb-2 font-bold text-title-md text-brand-500 dark:text-brand-400 xl:text-title-lg"
  >
    <div class="timer-box">
      <span>{{ formatTime(timeLeft.days) }}</span>
    </div>
    :
    <div class="timer-box">
      <span>{{ formatTime(timeLeft.hours) }}</span>
    </div>
    :
    <div class="timer-box">
      <span>{{ formatTime(timeLeft.minutes) }}</span>
    </div>
    :
    <div class="timer-box">
      <span>{{ formatTime(timeLeft.seconds) }}</span>
    </div>
  </div>

  <div class="text-base text-center text-gray-500 dark:text-gray-400">
    <span class="inline-block timer-box">
      <span class="inline-block">{{ timeLeft.days }}</span>
    </span>
    {{ timeLeft.days === 1 ? 'day' : 'days' }} left
  </div>
</div>
