<app-card>
  <div>
    <div class="mb-5 overflow-hidden rounded-lg">
      <img
        src="/images/cards/card-01.png"
        alt="card"
        class="overflow-hidden rounded-lg"
      />
    </div>
    <div>
      <app-card-title>Card title</app-card-title>
      <app-card-description>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
        architecto aspernatur cum et ipsum
      </app-card-description>
      <a
        routerLink="/"
        class="inline-flex items-center gap-2 px-4 py-3 mt-4 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs hover:bg-brand-600"
      >
        Read more
      </a>
    </div>
  </div>
</app-card>
