<div>
  <div
    class="rounded-xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] sm:p-6"
  >
    <div>
      <app-card-title>Card title</app-card-title>

      <app-card-description>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
        architecto aspernatur cum et ipsum
      </app-card-description>

      <a
        routerLink="/"
        class="inline-flex items-center gap-2 px-4 py-3 mt-4 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs hover:bg-brand-600"
      >
        Read more
      </a>
    </div>
  </div>
</div>
